
<mat-toolbar class="mat-toolbar ">
    <mat-card-title class="title-center">New Apartment</mat-card-title>
</mat-toolbar>
<div class="container">
    <mat-card>
        <form (ngSubmit)="onSubmit()">
            <div class="card-body" *ngIf="!isCreated">
                <div method="POST">

                    <mat-horizontal-stepper [linear]=true #stepper>
                        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Owner Info</ng-template>
                                <div class="row row-cols-2">
                                    <div class="form-row">
                                        <div class="name">First name</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="firstNameCtrl" type="text"
                                                       name="first_name"
                                                       [(ngModel)]="apartment.firstName" required>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['firstNameCtrl'].hasError('pattern')">
                                                    Please enter a valid first name
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['firstNameCtrl'].hasError('required')">
                                                    First Name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="name">Last name</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="lastNameCtrl" type="text"
                                                       [(ngModel)]="apartment.lastName" required>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['lastNameCtrl'].hasError('pattern')">
                                                    Please enter a valid last name
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['lastNameCtrl'].hasError('required')">
                                                    Last name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-2">
                                    <div class="form-row">
                                        <div class="name">Email address</div>
                                        <div class="value">
                                            <div class="input-group">
                                                <mat-form-field appearance="standard">
                                                    <input matInput formControlName="emailCtrl"
                                                           type="email"
                                                           name="email"
                                                           placeholder="example@email.com"
                                                           [(ngModel)]="apartment.email" required>
                                                    <mat-error
                                                            *ngIf="firstFormGroup.controls['emailCtrl'].hasError('pattern')">
                                                        Please enter a valid email address
                                                    </mat-error>
                                                    <mat-error
                                                            *ngIf="firstFormGroup.controls['emailCtrl'].hasError('required')">
                                                        Email is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="name">Phone number</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Input your phone number</mat-label>
                                                <input matInput formControlName="phoneNumberCtrl" type="tel"
                                                       [(ngModel)]="apartment.phoneNumber"
                                                       [textMask]="{mask: mask, guide: true}" required>
                                                <mat-hint>Format: +XXXYYTTEEQQQ</mat-hint>
                                                <mat-icon matSuffix>phone</mat-icon>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['phoneNumberCtrl'].hasError('length')">
                                                    Please enter a valid phone number
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['lastNameCtrl'].hasError('required')">
                                                    Phone number is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Password</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <mat-form-field appearance="standard">
                                                <input matInput [type]="hide ? 'password' : 'text'"
                                                       placeholder="" formControlName="passwordCtrl"
                                                       [(ngModel)]="apartment.password" required>
                                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['passwordCtrl'].hasError('minlength')">
                                                    Password length should be more than 8 chars
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="firstFormGroup.controls['passwordCtrl'].hasError('required')">
                                                    Password is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" label="Apartment info">
                            <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Apartment Info</ng-template>
                                <div class="row row-cols-2">
                                    <div class="form-row">
                                        <div class="name">Apartment number</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="apartmentNumberCtrl" type="number"
                                                       name="apartment_number" min="0"
                                                       [(ngModel)]="apartment.apartmentNumber" required>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['apartmentNumberCtrl'].hasError('min')">
                                                    Apartment number value is too low
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['apartmentNumberCtrl'].hasError('required')">
                                                    ApartmentNumber is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="name">Floor</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="floorCtrl" type="number"
                                                       name="floor" placeholder="" min="0"
                                                       [(ngModel)]="apartment.floor" required>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['floorCtrl'].hasError('min')">
                                                    Floor value is too low
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['floorCtrl'].hasError('required')">
                                                    Floor is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-2">
                                    <div class="form-row">
                                        <div class="name">Square meters</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="squareMetresCtrl" type="number"
                                                       name="square_meters" placeholder="" min="15"
                                                       [(ngModel)]="apartment.squareMetres">
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['squareMetresCtrl'].hasError('min')">
                                                    Square metres value is too low
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['squareMetresCtrl'].hasError('required')">
                                                    Square metres is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="name">People count</div>
                                        <div class="value">
                                            <mat-form-field appearance="standard">
                                                <input matInput formControlName="peopleCountCtrl" type="number"
                                                       name="people_count" placeholder="" min="0"
                                                       [(ngModel)]="apartment.peopleCount">
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['peopleCountCtrl'].hasError('min')">
                                                    People count is too low
                                                </mat-error>
                                                <mat-error
                                                        *ngIf="secondFormGroup.controls['peopleCountCtrl'].hasError('required')">
                                                    People Count is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" type="submit">Create</button>
                        </mat-step>
                    </mat-horizontal-stepper>

                </div>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isCreated">
            New Apartment created
        </div>
    </mat-card>
</div>
<div *ngIf="loading" style="  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -70px;">
    <mat-spinner></mat-spinner>
</div>



