@import '~src/main/angular/theme.scss';


.example-container {
  height: 270px;
  overflow: auto;
  padding: 0;
  margin: 0 0 0 5px;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;

}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

