<div class="container" style="margin-left:-60px ">
    <ngx-charts-pie-chart
            (window:resize)="onResize($event)"
            [view]="view"
            [results]="single"
            [gradient]="gradient"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [legend]="showLegend"
            [scrollLeft]="true"
            [legendTitle]="title+' '+balance"
            [maxLabelLength]="maxChars"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
</div>
<div *ngIf="loading" style="  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -70px;">
    <mat-spinner></mat-spinner>
</div>