


<mat-dialog-content>
    <h2 mat-dialog-title>Make Spending</h2>
        <form  class="width-dialog" fxLayout="column" [formGroup]="form"  (ngSubmit) = "onClickSubmit()">
            <mat-form-field>
                <mat-label>Enter Description</mat-label>
                <textarea formControlName="description" matInput></textarea>
                <mat-hint align="end">{{form.get('description').value.length}} / 1000</mat-hint>
            </mat-form-field>
            <mat-error *ngIf="form.get('description').invalid && form.get('description').touched">
                <small *ngIf="form.get('description').errors.required">Description is required</small>
                <small *ngIf="form.get('description').errors.minlength">Description length must be more than 1</small>
                <small *ngIf="form.get('description').errors.maxlength">Description length must be not more than 1000</small>
            </mat-error>

            <mat-form-field>
                <mat-label>Select communal utility</mat-label>
                <mat-select formControlName="subBillId">
                    <mat-option  *ngFor="let subBill of subBills" value="{{subBill.subBillId}}">Name: {{subBill.communalUtility.name}}&nbsp;  Balance: {{subBill.balance}}</mat-option>

                </mat-select>

            </mat-form-field>

            <mat-error *ngIf="form.get('subBillId').invalid && form.get('subBillId').touched">
                <small *ngIf="form.get('subBillId').errors.required">Communal utility is required</small>
            </mat-error>

            <mat-form-field>
                <mat-label>Enter sum of spending</mat-label>
                <input formControlName="sum" min="1" step="10" max="999999999999" type="number" matInput ngModel>
                <span matPrefix>₴&nbsp;</span>
            </mat-form-field>

            <mat-error *ngIf="form.get('sum').invalid && form.get('sum').touched">
                <small *ngIf="form.get('sum').errors.required">Sum is required</small>
            </mat-error>

            <button [disabled]="form.invalid" mat-raised-button type = "submit" color="primary">
                Make spending
            </button>
        </form>

    </mat-dialog-content>