<div>
    <form  class="announcement-form">
        <div *ngIf="!submitted">
            <p>
            <mat-form-field class="announcement-full-width">
                <mat-label>Title</mat-label>
                <input matInput
                       id="title"
                       name="title"
                       [formControl]="titleFormControl"
                       [(ngModel)]="announcement.title"
                />
            </mat-form-field>

            <mat-form-field class="announcement-full-width">
                <mat-label>Body</mat-label>
                <textarea matInput
                          id="body"
                          name="body"
                          [formControl]="titleFormControl"
                          [(ngModel)]="announcement.body">
                </textarea>
            </mat-form-field >
            </p>

            <mat-form-field class="announcement-full-width">
                <mat-checkbox id="isOpened" [(ngModel)]="announcement.isOpened">
                    Open for Comments
                </mat-checkbox>
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="saveAnnouncement()">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Announcement was submitted successfully!</h4>
            <button mat-flat-button color="primary" routerLink="../">Back to Announcements</button>
        </div>
    </form>
</div>
