
<div class ="login-background">

    <div  fxLayoutAlign = "center center" fxFlexFill>
        <mat-card fxFlex="38">
            <mat-card-title>Login</mat-card-title>
            <form fxLayoutAlign="center" fxLayout="column" *ngIf="!isLoggedIn" name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate >

                    <mat-form-field>
                    <input matInput type="email" name="email"
                           [(ngModel)]="form.email"
                           placeholder="Email"
                           #email="ngModel"
                    />
                </mat-form-field>


                <mat-form-field>
                    <input matInput type="password" name="password"
                           [(ngModel)]="form.password"
                           placeholder="Password"
                           minlength="6"
                           #password="ngModel"/>
                </mat-form-field>

                <div role="alert"
                     *ngIf="password.errors && f.submitted">

                    <small *ngIf="password.errors.minlength">
                        <mat-form-field>Password must be at least 6 characters</mat-form-field>
                    </small>
                </div>


                <button mat-raised-button type = "submit" color="primary">
                    Login
                </button>






                    <div role="alert"
                         *ngIf="f.submitted && isLoginFailed"
                    >
                        <mat-error> Wrong password or email</mat-error>
                    </div>


            </form>

            <div class="alert alert-success" *ngIf="isLoggedIn">
                Logged in as {{ role }}.
            </div>

        </mat-card>
    </div>
</div>

