@import '~src/main/angular/theme.scss';

#toolbar {
    width: 50%;
}
#title{
    width: 50%;
}
#apartment_operations{
    margin: 5px;
}
#transfer{
    margin: 5px;
}
#pay{
    margin: 5px;
}
#titlename{
    margin: 5px;
}


.money {
    font-family:Georgia,serif;
    color: mat-color($my-app-foreground);
    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 5px;
}
.more-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.mat-toolbar {
    background-color: mat-color($my-app-secondary);
}

.ul {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;

}

.form-field {
    width: 100px;
    font-size: 14px;
    flex: 1 1 auto;
    text-align: center;
}

.title-center {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    color: mat-color($my-app-foreground);
    line-height: 50px;
}


.create-btn {
    background-color: mat-color($my-app-primary);
    color: mat-color($my-app-background);
    float: right;
    margin: 0;
    height: 50px;
    width: 50px;
}

.example-card {

    margin: 20px;

}


.res-circle {
    border-radius: 50%;
    background: mat-color($my-app-accent);
    line-height: 0;
    position: relative;
    height: 15%;
    width: 15%;
}


.res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-family: Cambria, sans-serif;
    font-size: 2vw;
}


