<div class="p-3" fxFlex="60" fxFlexOffset="20" fxLayout="column" fxLayoutAlign="center stretch" fxFlexFill>
    <mat-card >
        <mat-card-header>
            <mat-card-title>Announcement Edit</mat-card-title>
        </mat-card-header>

        <form xLayoutAlign="center" fxLayout="column" [formGroup]="form" (ngSubmit)="saveAnnouncement()">

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text"
                       formControlName="title"
                       [(ngModel)]="announcement.title"
                />
            </mat-form-field>

            <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">
                <small *ngIf="form.get('title').errors.required">Title is required<br></small>
                <small *ngIf="form.get('title').errors.whitespace">Title must be filled<br></small>
                <small *ngIf="form.get('title').errors.minlength">Title length must be more than 1<br></small>
                <small *ngIf="form.get('title').errors.maxlength">Title length must be less than 256<br></small>
            </mat-error>

            <mat-form-field>
                <mat-label>Body</mat-label>
                <textarea matInput
                          formControlName="body"
                          rows="8"
                          [(ngModel)]="announcement.body">
                </textarea>
            </mat-form-field>

            <mat-error *ngIf="form.get('body').invalid && form.get('body').touched">
                <small *ngIf="form.get('body').errors.maxlength">Body length must be less than 1024</small>
            </mat-error>

            <mat-checkbox formControlName="isOpened" [(ngModel)]="announcement.isOpened">
                Open for Comments
            </mat-checkbox>

            <mat-error *ngIf="form.get('isOpened').invalid && form.get('isOpened').touched">
                <small *ngIf="form.get('isOpened').errors.required">isOpened is required</small>
            </mat-error>

            <button [disabled]="form.invalid"  mat-flat-button color="primary" type="submit">Submit</button>

        </form>
    </mat-card>

</div>
