<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="this.subbills">
        <!-- Item Column -->
        <ng-container matColumnDef="Communal">
            <th mat-header-cell class="header" *matHeaderCellDef> Util</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.communalUtility.name}} </td>
            <td mat-footer-cell *matFooterCellDef> Total</td>
        </ng-container>

        <ng-container matColumnDef="Balance">
            <th mat-header-cell class="header" *matHeaderCellDef> Balance</th>

            <td mat-cell *matCellDef="let transaction"> {{transaction.balance | currency}} </td>
            <td mat-footer-cell class="underlined" [style.color]='colorBalance'
                *matFooterCellDef> {{this.balance | currency}} </td>
        </ng-container>
        <!-- Cost Column -->
        <ng-container matColumnDef="Debt">
            <th mat-header-cell class="header" *matHeaderCellDef> Debt</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.debt | currency}} </td>
            <td mat-footer-cell class="underlined" [style.color]='colorDebt'
                *matFooterCellDef> {{this.debt | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="Pay">
            <th mat-header-cell class="header" *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let transaction">
                <div *ngIf="transaction.balance>transaction.debt && transaction.debt!=0">

                    <button  (click)="makePayment()"   mat-raised-button  id="pay-btn" color="accent">
                        <mat-icon>payment</mat-icon> Pay
                    </button>
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
</div>