table {
    width: 100%;
}



.find-button
{
    margin-left: 15px;
}


.color-border
{
    border: 1px solid grey;
}

.color-border-input
{
    border: 1px solid grey;
    margin-left: 5px;
}