

    <mat-toolbar class="mat-toolbar col-12" fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-card-title class="title-center col-2">Manager Operations</mat-card-title>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row">


                <form >
                    <mat-form-field [formGroup]="range" class="form-field ml-4">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input required matStartDate formControlName="start" placeholder="Start date" #dateRangeStart>
                            <input required matEndDate formControlName="end" placeholder="End date"  #dateRangeEnd (dateChange)="dateRangeChange(dateRangeStart.value, dateRangeEnd.value)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker ></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>

                    </mat-form-field>

                    <mat-form-field [formGroup]="utility" class="form-field ml-4">
                        <mat-label>Select communal utility</mat-label>

                        <mat-select formControlName="communalUtilityId"  multiple>
                            <mat-option  *ngFor="let communal of communals"  value="{{communal.communalUtilityId}}">{{communal.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-button class="find-button" (click)="filterManagerOperation()"><i class="fas fa-search"></i></button>
                </form>
            </div>


        </div>



        <div class="col-1">
            <button (click)="openCreateSpending()" mat-icon-button class="create-btn float-right"><mat-icon>add</mat-icon></button>
        </div>

    </mat-toolbar>



<div class="container-fluid p-5">
    <div class="row">




    <h1 [hidden]="dataSource.data.length">No data, please enter date or communal utility</h1>
    <div class="col-md-12" [hidden]="!dataSource.data.length">

        <div class="mat-elevation-z8" >
            <form [formGroup]="form" (ngSubmit) = "onSubmit()">
            <table mat-table [dataSource]="dataSource" >

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>№</th>
                    <td mat-cell *matCellDef="let element"> {{element.operationId}} </td>
                </ng-container>


                <ng-container matColumnDef="description" >
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <ng-container *matCellDef="let element">
                    <td mat-cell [hidden]="isHidden(element.operationId)"> {{(element.description.length>10) ? ((element.description | slice:0:10)+'...' ) : element.description}} </td>
                        <td mat-cell [hidden]="!isHidden(element.operationId)"> <textarea matInput matAutosizeMinRows=2 class="color-border"  [value]="element.description"
                                                                                          formControlName="description"></textarea> </td>
                        <input hidden formControlName="managerSubBillId" [value]="element.managerSubBill.subBillId" type="text" >
                    </ng-container>

                </ng-container>

                <!-- Weight Column -->
                <ng-container  matColumnDef="sum">
                    <th mat-header-cell *matHeaderCellDef> Sum</th>
                    <ng-container *matCellDef="let element; let i = index">
                    <td mat-cell [hidden]="isHidden(element.operationId)"> {{element.sum}} </td>
                    <td mat-cell [hidden]="!isHidden(element.operationId)" > <input class="color-border-input" min="0"
                                                                                    type="number"
                                                                                    formControlName="sum"></td>
                    </ng-container>
                </ng-container>


                    <ng-container matColumnDef="communalUtility">
                        <th mat-header-cell *matHeaderCellDef> Communal Utility </th>
                        <td mat-cell *matCellDef="let element"> {{element.managerSubBill.communalUtility.name}} </td>
                    </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.managerSubBill.balance}}</td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Created at </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'yyyy-MM-dd, HH:mm:ss ' }} </td>
                </ng-container>



                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> Operation </th>
                    <ng-container *matCellDef="let element">
                    <td mat-cell>
                        <button type="button" [hidden]="isHidden(element.operationId)"
                                (click)="updateButton(element.operationId,element.managerSubBill.subBillId);
                                         setSum(element.sum);
                                         setDescription(element.description)" mat-button>
                            <i class="fas fa-edit"></i></button>

                        <button [disabled]="form.invalid" [hidden]="!isHidden(element.operationId)" type = "submit" mat-button>Send</button>
                        <button type="button" [hidden]="!isHidden(element.operationId)" (click)="cancel()" mat-button>🗙</button>
                    </td>
                    </ng-container>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            </form>
            <div [hidden] = " !paginateHide() " >
            <mat-paginator  [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
    </div>


</div>