<mat-toolbar class="center">
    <span class="title-center col-2">Manager Sub Bill</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <div class="p-2 float-right">
        <button (click)="getEnabled()"  class="float-right" mat-raised-button>Show enabled</button>
    </div>
    <div class="p-2 float-right">
        <button (click)="getDisabled()"  class="float-right" mat-raised-button>Show disabled</button>
    </div>
    <div class="p-2 float-right">
        <button (click)="getAllManagerSubBills()" class="float-right" color="primary" mat-raised-button>Show all</button>
    </div>
</mat-toolbar>

<div id="back">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-sm-1 row-cols-lg-2 row-cols-xs-1  g-4">
            <div *ngFor="let managerSubBill of managerSubBills" class="card col-4" >
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{managerSubBill.communalUtility.name}}</mat-card-title>
                        <mat-card-title class="money"> Balance: {{managerSubBill.balance}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <hr>
                        <ul class="ul">
                            <li>Calculation method: {{managerSubBill.communalUtility.calculationMethod.toString()}}</li>
                            <li>Deadline: {{managerSubBill.communalUtility.deadline}}</li>
                            <li>Status: {{managerSubBill.communalUtility.status}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
