<div class="container">
    <mat-toolbar>
        <span>Communal utilities</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <div class="p-2">
            <button (click)="applyFilterAll()" color="primary" mat-raised-button>Show all</button>
        </div>
        <div class="p-2">
            <button (click)="applyFilterDisabled()" mat-raised-button>Show enabled</button>
        </div>
        <div class="ml-auto p-2">
            <button *ngIf="getRole() == 'MANAGER'" color="primary" mat-icon-button
                    routerLink="create">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-card class="d-flex justify-content-center">
        <table [dataSource]="datasource" class="mat-elevation-z8" mat-table text-align="center">
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell> Name</th>
                <td *matCellDef="let utility" mat-cell>
                    <div (click)="route(utility.communalUtilityId)" [matRippleColor]="myColor" class="center" fxFlexFill
                         matRipple>
                        {{utility.name}}
                    </div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell> Status</th>
                <td *matCellDef="let utility" mat-cell> {{utility.status}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="durationType">
                <th *matHeaderCellDef mat-header-cell> Duration type</th>
                <td *matCellDef="let utility" mat-cell> {{utility.durationType}} </td>
            </ng-container>

            <ng-container matColumnDef="calculation">
                <th *matHeaderCellDef mat-header-cell> Calculation method</th>
                <td *matCellDef="let utility" mat-cell> {{utility.calculationMethod}} </td>
            </ng-container>
            <ng-container matColumnDef="coefficient">
                <th *matHeaderCellDef mat-header-cell> Coefficient</th>
                <td *matCellDef="let utility" mat-cell> {{utility.coefficient}} </td>
            </ng-container>

            <ng-container matColumnDef="deadline">
                <th *matHeaderCellDef mat-header-cell> Deadline</th>
                <td *matCellDef="let utility" mat-cell> {{utility.deadline}} </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
    </mat-card>
</div>
