<div class="list row p-2">
    <div class="col-md-6">
        <section class="row p-2">
            <h1>Announcement List</h1>
            <button mat-icon-button routerLink="create" color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </section>

        <mat-selection-list [multiple]="false">
            <mat-list-option
                    *ngFor="let announcement of
                    (announcements | slice: lowValue : highValue); let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setActiveAnnouncement(announcement, i)"
            >
                {{ announcement.title }}
                <mat-divider></mat-divider>
            </mat-list-option>
            <mat-paginator  [length]="announcements.length" pageSize=10
                            (page)="getPaginatorData($event)" [pageSizeOptions]="[10]"></mat-paginator>
        </mat-selection-list>
    </div>
    <mat-card class="col-md-6 p-2">
        <div *ngIf="currentAnnouncement">
            <mat-card-header>
                <mat-card-title>{{ currentAnnouncement.title }}</mat-card-title>
                <mat-card-subtitle>Created at {{ currentAnnouncement.createdAt }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ currentAnnouncement.body }}
                </p>
            </mat-card-content>
            <mat-card-actions class="p-2">
                <button mat-stroked-button routerLink="{{currentAnnouncement.announcementId}}">Show Full</button>
                <button mat-stroked-button color="warn" (click)="deleteAnnouncement(currentAnnouncement.announcementId)">Delete</button>
            </mat-card-actions>
        </div>


        <div *ngIf="!currentAnnouncement">
            <br/>
            <p>Click on a Announcement...</p>
        </div>
    </mat-card>

</div>
